<section class="mc">
  <h1 class="mc__h1">Головний контент</h1>
  <p class="mc__p">
    Це зона, де відображається основна інформація сторінки. Макет зібрано з 4 компонентів:
    header, sidebar, main-content, footer.
  </p>

  <div class="mc__grid">
    <div class="mc__tile">
      <div class="mc__tileTitle">Компонентність</div>
      <div class="mc__tileText">Сторінка складається з незалежних блоків.</div>
    </div>

    <div class="mc__tile">
      <div class="mc__tileTitle">Структура</div>
      <div class="mc__tileText">Зрозуміла організація файлів та папок.</div>
    </div>

    <div class="mc__tile">
      <div class="mc__tileTitle">Git</div>
      <div class="mc__tileText">Робота у гілці pr-01-project-layout з комітами.</div>
    </div>
  </div>
</section>
